<div class="alert alert-success" role="alert" *ngIf="adicionado">
  Funcionario adicionado: <strong>{{nome}}</strong>
</div>

<div class="form-group">
  <label>Nome</label>
  <input type="text" class="form-control" [(ngModel)]="nome" appCampoColorido cor ="yellow" (focus)="adicionado = false" #campo="campoColorido">
</div>

<div class="row">
  <div class="col-2">
    <button type="button" class="btn btn-primary" (click)="adicionar()" [disabled]="nome.length == 0">Adicionar</button>
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-primary" (click)="remover()">Remover</button>
  </div>
    <button type="button" class="btn btn-info" (click)="campo.colorir()">Colorir</button>
    <button type="button" class="btn btn-info" (click)="campo.descolorir()">Descolorir</button>
</div>
